<form>
  <div class="form-group">
    <label for="subject">Subject</label>
    <input
      type="text"
      class="form-control"
      id="subject"
      placeholder="Subject"
      ng-model="vm.newSubject">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <input
      type="text"
      class="form-control"
      id="content"
      placeholder="Content"
      ng-model="vm.newContent">
  </div>
  <button
    type="submit"
    class="btn btn-default"
    ng-click="vm.createNote()">
    Submit
  </button>
</form>
