<form name="createNewForm" novalidate>
  <div
    class="form-group"
    ng-class="{ 'has-error' : createNewForm.subject.$invalid && !createNewForm.subject.$pristine }">
    <label for="subject">Subject</label>
    <input
      type="text"
      class="form-control"
      id="subject"
      name="subject"
      placeholder="Subject"
      ng-model="vm.newSubject"
      required>
    <p
      ng-show="createNewForm.subject.$invalid && !createNewForm.subject.$pristine"
      class="help-block">
      Enter a subject
    </p>
  </div>
  <div
    class="form-group"
    ng-class="{ 'has-error' : createNewForm.content.$invalid && !createNewForm.content.$pristine }">
    <label for="content">Content</label>
    <textarea
      class="form-control"
      rows="5"
      id="content"
      name="content"
      placeholder="Content"
      ng-model="vm.newContent"
      required>
    </textarea>
    <p
      ng-show="createNewForm.content.$invalid && !createNewForm.content.$pristine"
      class="help-block">
      Content cannot be blank
    </p>
  </div>
  <div class="buttons-group">
    <button
      class="btn btn-secondary"
      ng-click="vm.backToHome()">
      <i class="fa fa-undo" aria-hidden="true"></i>
      Back
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      ng-click="vm.createNote()"
      ng-disabled="createNewForm.$invalid">
      Submit
    </button>
  </div>
</form>
