/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

/**
 * Colors-related.
 */

@darkBlue: #2c3e50;
@lightGrey: #ecf0f1;
