<div class="jumbotron">
  <h1>Note Application</h1>

  <p class="lead">
    A simple application to manage notes.
  </p>
</div>
<div class="notes-container">
  <ul class="list-group">
    <li ng-repeat="note in vm.notes" class="list-group-item">
      {{note.subject}}
      <div class="list-button-group">
        <button type="button" class="btn btn-info">View</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </li>
  </ul>
  <div class="list-button-group">
    <button
      type="button"
      class="btn btn-primary"
      ng-click="vm.goToCreateNew()">
      Create New
    </button>
  </div>
</div>
