<form class="form-container" name="registerForm" novalidate>
  <div
    class="form-group"
    ng-class="{ 'has-error' : registerForm.username.$invalid && !registerForm.username.$pristine }">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Username"
      ng-model="vm.username"
      required>
    <p
      ng-show="registerForm.username.$invalid && !registerForm.username.$pristine"
      class="help-block">
      Enter a username
    </p>
  </div>
  <div
    class="form-group"
    ng-class="{ 'has-error' : registerForm.password.$invalid && !registerForm.password.$pristine }">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Password"
      ng-model="vm.password"
      required>
    <p
      ng-show="registerForm.password.$invalid && !registerForm.password.$pristine"
      class="help-block">
      Enter a password
    </p>
  </div>
  <div
    class="form-group"
    ng-class="{ 'has-error' : registerForm.passwordConfirm.$invalid && !registerForm.passwordConfirm.$pristine }">
    <label for="passwordConfirm">Password Confirm</label>
    <input
      type="password"
      class="form-control"
      id="passwordConfirm"
      name="passwordConfirm"
      placeholder="Password Confirm"
      ng-model="vm.passwordConfirm"
      required>
    <p
      ng-show="registerForm.passwordConfirm.$invalid && !registerForm.passwordConfirm.$pristine"
      class="help-block">
      Enter a password confirm
    </p>
  </div>
  <div class="buttons-group">
    <button
      class="btn btn-secondary"
      ng-click="vm.backToHome()">
      <i class="fa fa-undo" aria-hidden="true"></i>
      Back
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      ng-click="vm.register()"
      ng-disabled="registerForm.$invalid">
      Register
    </button>
  </div>
</form>
